@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

$primaryFont: 'Source Code Pro', monospace;
$headerFont: 'Orbitron', sans-serif;
$bodyColor: #d4d4dc;
$primaryColor: #393f4d;
$headingColor: #db594d;
$secondaryColor: #ff0000;
$shadowColor: #888888;
$glowShadow: #8885F3;
$inputShadow: #719ECE;
$getColor: #61AFFE;
$postColor: #63CC90;
$putColor: #EEA02D;
$deleteColor: #E63B3A;
$btnColor: #dd3a3a;
$mainMargin: 1%;